<div class="main-container">
  <div class="games-grid">
    
    <!-- Juego 1: Ahorcado -->
    <div class="game-card">
      <div class="image-placeholder">
        <img src="images\ahorcado.png" alt="Ahorcado">
      </div>
      <h3 class="game-name">Ahorcado</h3>
      <button class="btn-play" routerLink="/juegos/ahorcado">Jugar</button>
    </div>

    <!-- Juego 2: Mayor o Menor -->
    <div class="game-card card-accent">
      <div class="image-placeholder">
        <img src="images\mayor_o_menor.png" alt="Mayor o Menor">
      </div>
      <h3 class="game-name">Mayor o Menor</h3>
      <button class="btn-play" routerLink="/juegos/mayor_o_menor">Jugar</button>
    </div>

    <!-- Juego 3: Preguntados -->
    <div class="game-card">
      <div class="image-placeholder">
        <img src="images\preguntados.png" alt="Preguntados">
      </div>
      <h3 class="game-name">Preguntados</h3>
      <button class="btn-play" routerLink="/juegos/preguntados">Jugar</button>
    </div>

    <!-- Juego 4: Click the Circle -->
    <div class="game-card card-highlight">
      <div class="image-placeholder">
        <img src="images\click_the_circle.png" alt="Click the Circle">
      </div>
      <h3 class="game-name">Click the Circle</h3>
      <button class="btn-play" routerLink="/juegos/click_thec_ircle">Jugar</button>
    </div>

  </div>
</div>
