<nav class="uh-navbar">
    <!-- Logo a la izquierda -->
    <a class="navbar-brand">SALA DE JUEGOS</a>

    <!-- Lista a la derecha -->
    <ul class="nav-links">
        <li><a routerLink="/bienvenida" class="nav-item-link">Inicio</a></li>
        <li><a routerLink="/quien-soy" class="nav-item-link">Quién Soy</a></li>
        <li><a routerLink="/login" class="nav-item-link">Iniciar Sesión</a></li>
        <li><a routerLink="/registro" class="nav-item-link registro-btn">Registro</a></li>
    </ul>
</nav>

