<app-header></app-header>

<div class="layout-principal" [class.con-chat-abierto]="chatAbierto">
  <main class="layout-contenido-central container py-4">
    <router-outlet></router-outlet>
  </main>
</div>

@if (mostrarChat && authService.user()) {
  
  <button class="btn-chat-flotante" (click)="toggleChat()">
    💬
  </button>

  @if (chatAbierto) {
    <div class="ventana-chat-flotante">
      
      <div class="chat-header-compact">
        <h2 class="chat-title-compact">SALA DE CHAT</h2>
        <button class="btn-cerrar-chat" (click)="toggleChat()">X</button>
      </div>

      <app-chat></app-chat>
      
    </div>
  }
}