<div class="main-container">
  <div class="login-card">
    <h1 class="login-title">Iniciar Sesion</h1>
    
    <form class="login-form">
      <div class="form-group mb-4">
        <label class="form-label">Email</label>
        <input type="email" class="form-input" placeholder="tu@email.com" required>
      </div>

      <div class="form-group mb-4">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-input" placeholder="••••••••" required>
      </div>

      <div class="d-grid gap-3">
        <button type="button" class="btn-login-black">Iniciar Sesión</button>
        <button type="button" class="btn-login-outline" routerLink="/registro">Crear Cuenta</button>
      </div>
    </form>
  </div>
</div>
